<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Login</title>
  </head>
  <body>
    <h1>Form Login</h1>
    <form method="POST" action="/login">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" placeholder="Insert your username" />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" placeholder="Insert your password" />
      <br />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
