<!DOCTYPE html>
<html>
  <head>
    <title>User Session</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Selamat Datang <%= username %></p>
  </body>
</html>
